* {
  margin: 0%;
  padding: 0%;
}
.gradient {
  height: 300px;
  background: linear-gradient(
    180deg,
    rgba(255, 206, 103, 0.22) -42.47%,
    rgba(253, 237, 202, 0) 100%
  );
}
.h1 {
  padding-top: 40px;
  color: #f17228;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
.list {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
.div1,
.div2,
.div3,
.div4 {
  position: relative;
  /* background: linear-gradient(180deg, #ffae00 69.96%, #ffcd1e 133.44%); */
}
.circle {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  top: 20px;
  left: 90px;
}
.ring-img {
  top: 24px;
  left: 89px;
  position: absolute;
}
.dollar-img {
  position: absolute;
  top: 24px;
  left: 84px;
}
.donut-img {
  top: 20px;
  position: absolute;
  left: 63px;
}
.list h4 {
  margin-left: 60px;
  line-height: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
.list p {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #9e9e9e;
  align-self: stretch;
  flex-grow: 10;
}
.img {
  margin-left: 70px;
}
.img-4 {
  margin-left: 50px;
}
.search-section {
  margin-top: 200px;
  background-color: #fefaf1;
  align-items: center;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 223px;
}
.h-4 {
  font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  margin-top: 40px;
}
.right-side {
  display: flex;
  align-items: center;
}
.viev-all {
  font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  color: rgba(255, 179, 14, 1);
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.viev-all img {
  margin-left: 10px;
}
.img-icon1 {
  padding: 23.5px 29px;
  border-radius: 50%;
  background-color: rgba(255, 179, 14, 1);
  margin-left: 20px;
  margin-top: 40px;
}
.img-icon2 {
  padding: 23.5px 29px;
  border-radius: 50%;
  background-color: rgba(255, 179, 14, 1);
  margin-top: 40px;
}
.icon-1 {
  margin-left: 16px;
}
.food {
  margin-top: 116px;
  display: flex;
  padding: 0 9%;
  justify-content: space-between;
}
.food img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin-bottom: 26px;
}
.for-food {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.for-food h4 {
  font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
.footer {
  background-color: rgba(33, 33, 33, 1);
  margin-top: 70px;
}
.top {
  height: 600px;
  display: flex;
  justify-content: space-evenly;
}
.top ul {
  height: 100px;
}
.top-cities {
  font-weight: 700;
  font-size: 22px;
  margin-top: -30px;
  font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
.top-cities1 {
  margin-top: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
ul {
  line-height: 100%;
  font-style: normal;
  margin-top: 40px;
  list-style: none;
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
li {
  color: rgba(245, 245, 245, 1);
  line-height: 18px;
  margin-top: 16px;
}
.div-hr {
  display: flex;
  color: aqua;
}
.bottom {
  margin-top: -300px;
  display: flex;
  justify-content: space-evenly;
}
.bottom ul {
}
.bottom-ul2 {
  margin-right: 50px;
}
.bottom h4 {
  font-size: 22px;
}
.bottom-li {
  margin-top: 40px;
}
.follow-us {
  margin-right: 200px;
  font-size: 18px;
  color: rgba(245, 245, 245, 1);
}
