*{
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.informationtitle{
display: flex;
justify-content: center;
align-items: center;
font-style: normal;
font-weight: 700;
font-size: 43px;
line-height: 112%;
color: #F17228;
}
.comp5 {
height: 425px;
background: linear-gradient(
  180deg,
  rgba(255, 206, 103, 0.22) -42.47%,
  rgba(253, 237, 202, 0) 100%
);
}
.h1 {
padding-top: 40px;
color: #f17228;
text-align: center;
}
.list {
margin-top: 100px;
gap: 30px;
display: flex;
justify-content:center;
align-items: center;
}
.comp5div{
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.circle {
position: absolute;
background-color: white;
border-radius: 50%;
width: 46px;
height: 46px;
top: 20px;
left: 131px;
}
.orderlayout {
top: 24px;
left: 128px;
position: absolute;
}
.payadvancedlayout {
position: absolute;
top: 24px;
left: 130px;
}
.donutlayout {
top: 20px;
position: absolute;
left: 110px;
}
.comp5subtitle{
width: 307px;
height: 26px;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 120%;
text-align: center;
color: #434343;
}
.comp5anotation{
    width: 307px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #9E9E9E;
}